@import "parameters";

html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -@footer-height;
}
.page-wrap:after {
  content: "";
  display: block;
}
.footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: @footer-height;
}

.footer {
  background: @footer-color;
  border-top: 5px solid @footer-border-color;
  color: @footer-text-color;
  font-size: 14px !important;
  text-align: center;
  height: @footer-height;
  padding: 9px 5px 10px;
}

.container-fluid{
  background: @body-color;
  padding-bottom: 15px;
}

h1{
  font-size: 24px;
  border-right:10px solid @main-color;
  padding: 5px 10px 5px 5px;
  margin-bottom:10px !important;
}

.grid-form{
  .grid-form-row{
    margin-top:5px;
    margin-bottom: 5px;
  }
}

.query-builder {
  .rule-container {
    .k-autocomplete {
      input {
        padding: 0 !important;
      }
    }
  }
  padding-bottom: 5px;
}

.autocomplete-row{
  h4{
    float: right;
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    margin: 0;
  }
  span{
    color: @summary-color;
    float: left;
    font-size: 11px;
  }
}

