@import "parameters";

@font-face {
  font-family: 'eYekan';
  src: url('../fonts/eYekan/font.eot');
  src: url('../fonts/eYekan/font.eot#iefix') format('embedded-opentype'), url('../fonts/eYekan/font.woff') format('woff'), url('../fonts/eYekan/font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  direction: rtl;
  .useFont() !important;
}

h1, h2, h3, h4, h5, h6, dd, dt, input, textarea, select, div, span {
  .useFont() !important;
}

h1 {
  font-size: 28px;
  //  border-right: 10px solid @main-color;
  padding: 7px 0px 8px 15px;
  margin-bottom: 10px !important;
  i {
    font-size: 32px !important;
  }
}

h2 {
  font-size: 20px;
  //  border-right: 7px solid @main-color;
  padding: 5px 10px 5px 5px;
  margin-bottom: 10px !important;
  i {
    font-size: 24px !important;
  }
}

h3 {
  font-size: 18px;
  //  border-right: 5px solid @main-color;
  padding: 5px 10px 5px 5px;
  margin-bottom: 10px !important;
  i {
    font-size: 22px !important;
  }
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

.inlineBlock {
  display: inline-block;
}

.clear-fix {
  clear: both;
}

input[type=radio].css-checkbox {
  display: none !important;

  & + label.css-label {
    padding-right: 20px;
    height: 15px;
    display: inline-block;
    line-height: 15px;
    background-repeat: no-repeat;
    background-position: 100% 0;
    vertical-align: middle;
    cursor: pointer;
    font-weight: normal;
    margin-left: 20px;

  }

  &:checked + label.css-label {
    background-position: 100% -15px;
  }
}

input[type=radio] + label.css-label {
  background-image: url(../images/radiobutton.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type=checkbox].css-checkbox {
  display: none !important;

  & + label.css-label {
    padding-right: 20px;
    height: 15px;
    display: inline-block;
    line-height: 15px;
    background-repeat: no-repeat;
    background-position: 100% 0;
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;
    font-weight: normal !important;
  }

  &:checked + label.css-label {
    background-position: 100% -15px;
  }
}

label.css-label {
  background-image: url(../images/checkbox.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  font-family: eYekan, tahoma, times, serif;
  font-size: 14px;
  min-height: 30px;
}

#header {
  background-color: white;
  border-bottom: 3px solid #666666;
  //box-shadow: 2px 2px 2px white;
  padding: 10px 20px;
  position: fixed;
  z-index: 1000;
  width: 100%;
  & + .container-fluid {
    padding-top: 75px;
  }
  &.minimized {
    padding: 0 20px;
    & + .container-fluid {
      padding-top: 55px;
    }

    #logo {
      margin-top: 5px;
      margin-left: 27px;
      img {
        height: 42px;
      }
    }
  }
  &.brokerHeader {
    img {
      float: right;
    }
    h1 {
      border-width: 0;
      float: right;
      color: #000000;
      margin-top: 5px;
      margin-right: 5px;
      span {
        color: grey;
        display: block;
        font-size: 14px;
        margin-top: 10px;
      }
    }
  }
}

#logo {
  float: right;
  img {
    height: 52px;
    //    width: 178px;
  }
}

#menu {
  //  background: transparent; /* Old browsers */
  //  background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%); /* FF3.6+ */
  //  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f4f4f4)); /* Chrome,Safari4+ */
  //  background: -webkit-linear-gradient(top, #ffffff 0%, #f4f4f4 100%); /* Chrome10+,Safari5.1+ */
  //  background: -o-linear-gradient(top, #ffffff 0%, #f4f4f4 100%); /* Opera 11.10+ */
  //  background: -ms-linear-gradient(top, #ffffff 0%, #f4f4f4 100%); /* IE10+ */
  //  background: linear-gradient(to bottom, #ffffff 0%, #f4f4f4 100%); /* W3C */
  //  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4f4f4', GradientType=0); /* IE6-9 */
  background: #ffffff;
  font-size: 14px;
  padding-right: 20px;
  border-color: #FFFFFF;
  float: right;
  //  clear: both;
  .k-popup {
    box-shadow: none;
  }
}

.k-rtl .k-menu .k-item, .k-rtl .k-widget.k-menu-horizontal > .k-item {
  border-width: 0;
}

.highcharts-container {
  margin: auto;
}

.toolbar {
  margin: 20px auto 10px;
}

dl {
  margin-top: 10px;
  margin-bottom: 10px;
  dt {
    line-height: 28px;
  }
  dd {
    margin: 0;
  }
}

input[type=submit] {
  padding-left: 20px;
  padding-right: 20px;
}

button {
  background: @body-color !important;
  text-shadow: none !important;
}

.form-field {
  margin-bottom: 10px;
  border-bottom: 1px dashed @border-color;
  .main {
    display: block;
    float: right;
    padding-left: 10px;
    padding-bottom: 10px;
    label {
      display: block;
      margin-bottom: 8px;
    }
  }
  .help {
    display: block;
    float: right;
    font-size: 14px;
    line-height: 20px;
    label {
      display: block;
      padding: 20px 65px 10px 10px;
      color: #787878;
      background: url('../images/info.png') top right no-repeat;
      min-height: 64px;
    }
    span.form-error {
      display: block;
      padding: 20px 65px 10px 10px;
      color: #bc3100;
      background: url('../images/error.png') top right no-repeat;
      min-height: 57px;
    }
  }
}

.form-field.borderless {
  border-width: 0;
}

/*list view*/

.documentListContainer {
  //width: 1150px;
  text-align: center;
}

#documentListView {
  padding: 5px;
  clear: both;
  .document {
    margin: 5px;
    width: 250px;
    padding: 10px;
    border-width: 0;
    display: inline-block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    * {
      cursor: pointer;
    }
    span.image {
      display: table-cell;
      height: 250px;
      vertical-align: bottom;
      width: 250px;
      text-align: center;
      img {
        max-width: 250px;
        max-height: 250px;
        background: #ffffff;
      }
    }
    h3 {
      font-size: 16px;
      height: 44px;
      line-height: 22px;
      overflow: hidden;
      margin-bottom: 5px;
    }
    span.date {
      font-size: 12px;
      color: @summary-color;
    }
    p {
      display: block;
      height: 90px;
      overflow: hidden;
      line-height: 18px;
      font-size: 14px;
      text-align: justify;
      color: @summary-color;
    }

    &.k-state-selected {
      border: 3px solid @main-color;
      padding: 7px;
      background: white !important;
    }
  }
}

.searchbox {
  //margin-bottom: 10px;
  width: 400px;
  padding: 0;
  float: left;
  input {
    width: 398px;
  }
  a {
    left: 10px;
  }
}

#confirmDialog, #alertDialog, #infoDialog {
  display: none;
  img {
    display: block;
    float: right;
  }
  div {
    float: right;
    line-height: 64px;
  }
  .toolbar {
    text-align: left;
    clear: both;
    float: none;
    margin-top: 5px;
    line-height: 40px;
    input {
      min-width: 80px;
    }
  }
}

a {
  color: @link-color;
  outline: 0;
  &:hover {
    text-decoration: none;
    color: @link-hover-color;
    .k-badge {
      background: @body-color;
      color: @main-color;
    }
  }
  &:hover, &:active, &:focus {
    outline: 0;
    text-decoration: none;
    img {
      border-color: @link-hover-color !important;
    }
  }
}

.info {
  padding-right: 64px;
  background: url(../images/info.png) top right no-repeat;
  padding-top: 20px;
  min-height: 64px;
  div {
    margin-top: 10px;
  }
  & + .toolbar {
    margin-top: 10px;
  }
}

.info-small {
  padding-right: 32px;
  background: url(../images/info-small.png) top right no-repeat;
  line-height: 32px;
  padding-top: 3px;
}

.errorMessage {
  padding-right: 64px;
  background: url(../images/error.png) top right no-repeat;
  //  padding-top: 20px;
  min-height: 64px;
  color: @error-color;
  line-height: 64px;
  div {
    margin-top: 10px;
  }
}

.errorBlock {
  padding-right: 64px;
  background: url(../images/error.png) top right no-repeat;
  //  padding-top: 20px;
  min-height: 64px;
  color: @error-color;
  line-height: 64px;
  ul {
    line-height: 20px;

    margin-right: 0;
    padding: 0 20px 0 0;
  }
  div {
    margin-top: 10px;
  }
}

.validator {
  display: none;
  color: @error-color;
  background: url(../images/error-small.png) center right no-repeat;
  padding-right: 32px;
  line-height: 28px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.loading {
  line-height: 32px;
  margin: 10px;
  color: @info-color;
  display: none;
  img {
    margin-left: 5px;
  }
}

.has-error {
  .mce-tinymce {
    border: 1px solid @error-color !important;
  }
}

span.has-error {
  border: 1px solid @error-color !important;
  span {
    border-width: 0 !important;
  }
}

//like
.rateWrapper {
  float: left;
  padding-top: 10px;
  height: 24px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  .rate {
    cursor: pointer;
  }
  span {
    border: 1px solid @editor-border-color;
    display: inline-block;
    padding: 4px;
    span {
      background: url('../images/like.png') no-repeat;
      line-height: 20px;
      width: 70px;
      display: inline-block;
      text-align: center;
      border-width: 0;
      padding: 4px 0 0;
    }
  }
  .rateUp {
    border-color: @main-color;
    color: @main-color;
    span {
      background-position: 100% 0;
      padding-right: 24px;
    }
    &:hover, &.active {
      color: @body-color;
      background-color: @main-color;
      span {
        background-position: 100% -24px;
      }
    }
  }
  .rateDown {
    border-color: @error-color;
    color: @error-color;
    span {
      background-position: 0 -48px;
      padding-left: 24px;
    }
    &:hover, &.active {
      color: @body-color;
      background-color: @error-color;
      span {
        background-position: 0 -72px;
      }
    }
  }
}

.badge {
  border-radius: 0;
  padding-top: 5px;
  padding-bottom: 2px;
}

.emptyMessage {
  color: @summary-color;
}

.k-rtl .k-dropdown-wrap .k-input, .k-rtl .k-picker-wrap .k-input, .k-rtl .k-numeric-wrap .k-input {
  border-radius: 0;
}

.k-tabstrip {
  border-width: 0 !important;
  .k-content {
    margin: 0 !important;
    padding-top: 10px !important;
  }
  .k-tabstrip-items {
    padding: 0 !important;
  }
}

.animate-enter,
.animate-leave {
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
  width: 0px;
  height: 0px;
}

.animate-enter.animate-enter-active,
.animate-leave {
  opacity: 1;
  width: 150px;
  height: 30px;
}

.btn-delete-row {
  height: 20px;
  width: 16px;
  background: url('../images/btn-delete.png') no-repeat 0 3px !important;
  padding: 2px 0;
  border: 1px solid transparent;
  margin-left: 5px;
}

.btn {
  background-color: white !important;
  color: @element-text-color !important;
  border-radius: 0 !important;
  border: 1px solid @editor-border-color !important;
  min-height: 0;
  &:hover, &.active {
    background-color: @main-color !important;
    color: @body-color !important;
    border: 1px solid @main-color !important;
    box-shadow: none;
  }
}

.query-builder {
  .pull-right {
    float: left !important;
  }
}

.k-rtl span.k-picker-wrap .k-select, .k-rtl .k-numeric-wrap .k-select, .k-rtl .k-dropdown-wrap .k-select {
  border-width: 0 !important;
}

.ui-datepicker {
  .ui-datepicker-today {
    .ui-state-default {
      background-color: @summary-color;
      color: @body-color !important;
    }
  }

  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border-radius: 0 !important;
  }

  .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: none repeat scroll 0 0 @main-color !important;
    color: @body-color !important;
  }

  .btn.ui-datepicker-next, .btn.ui-datepicker-prev {
    border-width: 0 !important;
  }
  //.btn.ui-datepicker-next i {
  //  content: '<' !important;
  //}
  //
  //.btn.ui-datepicker-prev i {
  //  content: '>' !important;
  //}
}

.ui-widget-content {
  border-radius: 0 !important;
}

.timeSlider {
  margin-right: 5px;
  margin-bottom: 20px;
}

.k-numeric-wrap {
  .k-link {
    padding-top: 3px;
    & + .k-link {
      padding-bottom: 2px;
      padding-top: 0;
    }
  }
}

.k-menu .k-group .k-item > .k-link {
  padding: 8px 25px !important;
}

.k-treeCombo {
  .k-treeview {
    border: 1px solid @editor-border-color;
    background: @body-color;
    z-index: 999999;
    border-top-width: 0;
    .treeNode-value {
      display: none;
    }
  }
}

#categoryTree {
  //  border: 1px solid @editor-border-color !important;
  background-color: @summary-back-color;
  padding: 10px;
  img {
    width: 24px;
    margin-left: 10px;
  }
  .k-state-selected {
    box-shadow: none !important;
  }
  .k-in {
    line-height: 24px;
    display: inline-block;
  }
  .treeNode-value {
    display: none;
  }
}

.k-treeCombo {
  #categoryTree {
    background-color: @body-color;
    padding: 0;
  }
}

.k-ff {
  overflow: inherit !important;
}

.container-fluid {
  background: transparent !important;
  .k-pager-wrap {
    background: transparent;
    .k-link {
      background: @body-color;
      &:hover {
        background: @main-color
      }
    }
  }
}

//
//.k-callout{
//  width: 10px;
//}
//.k-callout-n {
//  width: 10px;
//}

.user-panel {
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  padding-right: 30px;
  li {
    list-style: none;
    text-align: left;
    margin-top: 10px;
    a {
      padding-bottom: 5px;
      cursor: pointer;
      font-size: 12px;
      color: @header-color;
      &:hover {
        color: @header-color;
      }
      i {
        margin-right: 8px;
      }
    }
  }
}

.k-tooltip {
  padding: 0;
  border-color: @editor-border-color !important;
  .k-tooltip-content {
    padding: 0;
    ul {
      padding: 0;
      margin: 0;
      background-color: white;
      li {
        font-size: 12px;
        list-style: none;
        text-align: right;
        a {
          padding: 2px 10px 3px 5px;
          color: @header-color;
          line-height: 25px;
          display: block;
          &:hover {
            color: white;
            background-color: @main-color;
          }
          i {
            font-size: 14px;
            margin-top: 5px;
            margin-left: 5px;
            display: block;
            float: right;
          }
          span {
            display: block;
            float: right;
          }
        }
      }
    }
  }
  .k-callout-n {
    border-bottom-color: @editor-border-color;
  }
}

.watermark {
  position: absolute;
  top: 0;
  left: 200px;
  width: 600px;
  display: block;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.chart {
  border: 1px solid #dadada;
}

.k-toolbar {
  margin-bottom: 5px;
  padding-right: 2px;
  padding-bottom: 2px;
  .k-button {
    margin-top: 3px;
    &.k-overflow-anchor {
      margin-top: 0;
      border-width: 0 1px 0 0;
      float: left;
      padding: 0 0.5em;
    }
  }
}

.k-grid-toolbar {
  padding: 4px !important;
  .k-link {
    padding: 8px !important;
    padding-right: 12px !important;
    padding-left: 12px !important;
  }
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 7px;
  padding-right: 7px;
}

.k-grouping-header, .k-grid-toolbar {
  cursor: default;
  margin: 0;
  padding: 3px 1em 3px 0.2em;
  //  text-align: left;
}

.k-primary, .k-overflow-container .k-primary {
  background-color: #7ea700 !important;
}

.vertical-spacer-20 {
  clear: both;
  margin-top: 20px;
  content: ' ';
  line-height: 20px;
}

#filtersList .k-link.k-header {
  //  background-color: @body-color;
  //  color:@main-color !important;
}

.filter-value-panel {
  background: #ffffff;
  border: 1px solid #dadada;
  padding: 10px;
}

#filter-query-panel {
  border: 1px solid #dadada;
  background: #EEEEEE;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  .queryItem {
    background: none repeat scroll 0 0 white;
    border: 1px solid #dadada;
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 5px 10px;
    &.readonly {
      i.fa-close {
        display: none;
      }
    }
    i.fa-close {
      color: @error-color;
      font-size: 16px;
      line-height: 16px;
      margin-left: 5px;
      cursor: pointer;
    }
  }
}

.filterParameter {
  display: none;
  margin-right: 10px;
}

.k-state-selected .filterParameter {
  display: inline;
}

.calculator-button {
  background-color: #ff7663 !important;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle !important;
  cursor: pointer;
  &.k-state-hover, &:hover {
    background-color: #ffb74f !important;
    color: #000000;
  }
}

.positive {
  color: forestgreen;
}

.negative {
  color: darkred;
}

#pnlSummary {
  background-image: url(../images/texture/small_steps.png);
  padding-top: 15px;
  border: 2px solid #FFFFFF;
  box-shadow: 0 0 1px #d2d2d2 inset;
}

.k-detail-cell {
  .col-xs-4 {
    width: 30%;
  }
}

.inline-block {
  display: inline-block;
}

.addToListButton {
  height: 29px;
  min-width: 0 !important;
  width: 39px;
  padding-right: 12px;
  padding-top: 8px;
}

input[readonly] {
  background-color: #f4f4f4 !important;
  border-color: #dadada !important;
}

//.k-edit-cell, #grid_active_cell:not(.k-header){
//  height:124px;
//  padding-top:0;
//  padding-bottom:0;
////  border-width:0;
//}
//
//.portfolioFieldEditorContainer{
////  height:124px;
////  display: table-cell;
////  vertical-align: middle;
//  label{
//    font-weight: normal;
//    margin-top:5px;
//    margin-bottom:1px;
//  }
//}
//
//.k-rtl .k-dirty{
//  top:7px;
//}

h1, h2, h3, h4 {
  color: @header-color;
  margin-top: 10px;
  i {
    color: #ffffff;
    margin-left: 10px;
    padding: 10px;
  }

  &.orange {
    i {
      background-color: #fa6800;
    }
  }

  &.green {
    i {
      background-color: #60a917;
    }
  }

  &.darkBlue {
    i {
      background-color: #3b5998;
    }
  }

  &.cyan {
    i {
      background-color: #1ba1e2;
    }
  }

  &.crimson {
    i {
      background-color: #a20025;
    }
  }

  &.pink {
    i {
      background-color: #f472d0;
    }
  }

  &.magenta {
    i {
      background-color: #d80073;
    }
  }

  &.steel {
    i {
      background-color: #647687;
    }
  }
}

//breadcrumb
.breadcrumb {
  background: #ffffff;
  border: 1px solid #dadada;
  border-radius: 0;
  box-shadow: none;
  margin-top: 10px;
  height: 37px;
  margin-bottom: 10px;
  li {
    background-image: url("../images/breadcrumb_arrow.png");
    background-position: left center;
    background-repeat: no-repeat;
    margin-left: -10px;
    padding-left: 25px;
    height: 20px;
    float: right;
    display: block;
    &.current {
      background-image: none;
    }
    & + li::before {
      content: '';
    }
    a {
      color: @header-color;
      white-space: nowrap;
      display: block;
      float: right;
      margin-right: 20px;
      &.home {
        margin-right: 0;
      }
      &:hover {
        color: @main-color;
      }
      i.fa {
        display: inline-block;
        font-size: 18px;
        position: relative;
        top: 2px;
        margin-left: 5px;
      }
    }

    &:first-of-type {
      a {
        i.fa {
          margin-left: 0;
        }
      }
    }
  }
}

.whitePanel {
  background: #ffffff;
  padding: 10px;
  border: 1px solid #dadada;
  &.smallPadding {
    padding: 7px;
  }
  &.borderLess {
    border-width: 0;
  }
}

#defaultAdjustmentTypePanel {
  float: right;
  padding-left: 30px;
  margin-top: 2px;
  label {
    color: #808080;
    font-weight: normal;
    font-size: 12px;
    margin-top: 5px;
    margin-right: 20px;
  }
  .k-widget {
    background: none;
    .k-dropdown-wrap {
      background: none;
      border-width: 0;
      padding-right: 1em;
      padding-left: 0;
      .k-input {
        background: none;
        color: white;
      }
      .k-select {
        right: 0;
        left: auto;
        .k-icon {
          margin-top: -6px;
        }
      }
    }
  }
}

#defaultAdjustmentType-list {
  //  top:4px;
}

.symbolSearchBox {
  float: left;
  margin-top: 10px;
  padding: 0 !important;
  #symbolSearch {
    border: 1px solid #dadada;
    border-right: 4px solid #f472d0;
    padding: 4px 10px 6px;
    min-width: 250px;
  }
  #symbolSearchResults {
    display: none;
    position: absolute;
    //border:1px solid #dadada;
    //background: white;
    width: 300px;
  }
}

.dashLet {
  background: white;
  border-bottom: 3px solid #dddddd;
  box-shadow: 2px 2px 2px #aaa;
  margin-top: 20px;
  padding: 5px 5px 10px;

  .dashletFooter {
    font-size: 14px;
    margin: 10px -5px -10px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-top: 5px;
    text-align: left;
    color: white;
    a {
      color: white;
    }
    .pager {
      display: inline-block;
      padding-top: 3px;
      padding-bottom: 2px;
      padding-right: 10px;
      padding-left: 10px;
      background-color: white;
      cursor: pointer;
      margin-bottom: 0;
      color: @header-color;
      margin-top: 2px;
      font-size: 11px;
      font-weight: bold;
      &.active {
        background-color: transparent;
        cursor: default;
        color: white;
      }
    }
  }

  h1, h2, h3, h4, h5 {
    margin-top: -7px !important;
    i {
      background-color: #dddddd;
      margin-top: -10px !important;
      //box-shadow: 2px 2px 2px #aaa;
    }
  }

  h3 {
    clear: both;
    background-color: #eeeeee;
    margin-right: -5px;
    margin-left: -5px;
    font-size: 14px;
    font-weight: bold;
  }

  .subPanel {
    margin: 10px;
    margin-bottom: 20px;
  }

  &.orange {
    border-bottom-color: #fa6800;

    & div, & li {
      border-color: #fa6800 !important;

      &.even {
        background-color: #FFF0E6 !important;
      }
    }

    & .k-state-hover, & .k-state-hover * {
      background-color: #fa6800 !important;
    }

    h1, h2, h3, h4, h5 {
      i {
        background-color: #fa6800;
      }
    }

    .dashletFooter {
      background: #fa6800;
    }
  }

  &.green {
    border-bottom-color: #60a917;

    & div, & li {
      border-color: #60a917 !important;

      &.even {
        background-color: #EFF7E8 !important;
      }
    }

    & .k-state-hover, & .k-state-hover * {
      background-color: #60a917 !important;
    }

    h1, h2, h3, h4, h5 {
      i {
        background-color: #60a917;
      }
    }

    .dashletFooter {
      background: #60a917;
    }
  }

  &.darkBlue {
    border-bottom-color: #3b5998;

    & div, & li {
      border-color: #3b5998 !important;

      &.even {
        background-color: #ECEFF5 !important;
      }
    }

    & .k-state-hover, & .k-state-hover * {
      background-color: #3b5998 !important;
    }

    h1, h2, h3, h4, h5 {
      i {
        background-color: #3b5998;
      }
    }

    .dashletFooter {
      background: #3b5998;
    }
  }

  &.cyan {
    border-bottom-color: #1ba1e2;

    & div, & li {
      border-color: #1ba1e2 !important;

      &.even {
        background-color: #E9F6FC !important;
      }
    }

    & .k-state-hover, & .k-state-hover * {
      background-color: #1ba1e2 !important;
    }

    h1, h2, h3, h4, h5 {
      i {
        background-color: #1ba1e2;
      }
    }

    .dashletFooter {
      background: #1ba1e2;
    }
  }

  &.crimson {
    border-bottom-color: #a20025;

    & div, & li {
      border-color: #a20025 !important;

      &.even {
        background-color: #F6E6EA !important;
      }
    }

    & .k-state-hover, & .k-state-hover * {
      background-color: #a20025 !important;
    }

    h1, h2, h3, h4, h5 {
      i {
        background-color: #a20025;
      }
    }

    .dashletFooter {
      background: #a20025;
    }
  }

  &.pink {
    border-bottom-color: #f472d0;

    & div, & li {
      border-color: #f472d0 !important;

      &.even {
        background-color: #FEF1FA !important;
      }
    }

    & .k-state-hover, & .k-state-hover * {
      background-color: #f472d0 !important;
    }

    h1, h2, h3, h4, h5 {
      i {
        background-color: #f472d0;
      }
    }

    .dashletFooter {
      background: #f472d0;
    }
  }

  &.magenta {
    border-bottom-color: #d80073;

    & div, & li {
      border-color: #d80073 !important;

      &.even {
        background-color: #FBE6F1 !important;
      }
    }

    & .k-state-hover, & .k-state-hover * {
      background-color: #d80073 !important;
    }

    h1, h2, h3, h4, h5 {
      i {
        background-color: #d80073;
      }
    }

    .dashletFooter {
      background: #d80073;
    }
  }
}

.dashLetButton {
  background: white;
  border-bottom: 3px solid #dddddd;
  box-shadow: 2px 2px 2px #aaa;
  margin-top: 20px;
  padding: 5px 5px 5px;
  display: block;
  .description {
    color: #333333;
    &:hover {
      color: #333333;
    }
  }
  i {
    background-color: #dddddd;
    margin: -5px !important;
    margin-bottom: -5px !important;
    margin-left: 10px !important;
    padding: 20px;
    float: right;
    color: white;
    font-size: 40px;
    //box-shadow: 2px 2px 2px #aaa;
  }

  h1, h2, h3, h4, h5 {
    margin-top: 0 !important;
    margin-right: 10px;
    margin-bottom: 3px !important;
  }

  &.orange {
    border-bottom-color: #fa6800;

    i {
      background-color: #fa6800;
    }
  }

  &.green {
    border-bottom-color: #60a917;

    i {
      background-color: #60a917;
    }
  }

  &.darkBlue {
    border-bottom-color: #3b5998;

    i {
      background-color: #3b5998;
    }
  }

  &.cyan {
    border-bottom-color: #1ba1e2;

    i {
      background-color: #1ba1e2;
    }
  }

  &.crimson {
    border-bottom-color: #a20025;

    i {
      background-color: #a20025;
    }
  }

  &.pink {
    border-bottom-color: #f472d0;

    i {
      background-color: #f472d0;
    }
  }

  &.magenta {
    border-bottom-color: #d80073;

    i {
      background-color: #d80073;
    }

  }
}

.marketViewItem {
  line-height: 25px;
  &.odd {
    border-bottom: 1px dashed #ddd !important;

    &:last-of-type {
      border-bottom-width: 0 !important;
    }
  }

  &.even {
    background: #f8f8f8;
    margin-right: -5px;
    margin-left: -5px;
    padding-right: 5px;
    padding-left: 5px;
    border-bottom: 1px dashed #ddd !important;

    &:last-of-type {
      border-bottom-width: 0 !important;
    }
  }

  .marketViewItem_label {
    margin-left: 10px;
  }

  .marketViewItem_value {
    margin-left: 10px;
    direction: ltr;
    display: inline-block;
    color: black;
    span {
      display: inline-block;
      color: #787878;
      direction: rtl;
      font-size: 11px;
    }
  }

  .marketViewItem_change {
    margin-left: 10px;
    direction: ltr;
    display: inline-block;
  }

  .marketViewItem_changePercent {
    margin-left: 10px;
    direction: ltr;
    display: inline-block;
  }
}

.mix {
  line-height: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
  &.odd {
    border-bottom: 1px dashed #ddd !important;
  }

  &.even {
    background: #f8f8f8;
    border-bottom: 1px dashed #ddd !important;
  }
}

.loginModal {
  margin: -8px;
  overflow: hidden;
  height: 382px;
  i.fa-close {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    &:hover {
      color: @error-color;
    }
  }

  .oAuthToolbar {
    text-align: center !important;
    .oAuthButton {
      display: inline-block;
      float: none;
    }
  }

  .clear-fix {
    margin: 0 !important;
  }

  .container-fluid {
    padding: 0;
    .row-fluid {
      .col-xs-4 {
        padding: 0;
        &:first-child {
          div {
            background-color: @summary-back-color;
            border-left-width: 0;
            height: auto;
            h3 {
              padding-top: 0;
            }
            div {
              margin-top: 0;
              padding-top: 30px;
              background: url(../images/networking.png) no-repeat center 220px;
              background-size: 80%;
              margin-bottom: 20px;
              padding-right: 10px;
              padding-left: 10px;
              text-align: justify;
              height: 360px;
            }
          }
        }
        div {
          padding-right: 10px;
          padding-left: 10px;
          margin: 0 0 -28px;
          border-left: 1px solid @editor-border-color;
          text-align: center;
          height: 360px;
          h3 {
            padding-right: 0;
            text-align: right;
            font-size: 22px;
            color: @error-color;
            margin-bottom: 20px !important;
            padding-top: 30px;
            margin-top: 15px;
          }
          form {
            display: inline-block;
            width: 220px;
          }
          div {
            margin: 0 0 5px 0;
            padding: 0;
            border-left-width: 0;
            text-align: right;
            height: auto;
          }
        }
        &:last-child {
          div {
            border-left-width: 0;
            margin-right: 5px;
            overflow: hidden;
            padding-right: 0;
            width: 240px;
            h3 {
              margin-right: 5px;
            }
            form {
              margin-right: -10px;
              input[type=submit] {
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
}

.profileMenu {
  background-color: white;
  margin-left: 10px;
  ul {
    margin: 0;
    background-color: white;
    padding: 10px 0 0;
    li {
      background-color: white;
      list-style: none;
      margin-bottom: 2px;
      a {
        display: block;
        line-height: 60px;
        padding-right: 20px;
        color: @header-color;
        i {
          display: block;
          float: right;
          font-size: 24px;
          margin-top: 20px;
          margin-left: 10px;
        }
        span {
          display: block;
          float: right;
        }
        &:hover {
          color: white;
          background-color: @main-color;
        }
      }
      &.active {
        a {
          color: white;
          background-color: @main-color;
          &:hover {

          }
        }
      }
    }
  }
}

.image-editor {
  margin-left: 150px;
  .cropit-image-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .cropit-image-input::before {
    content: 'Select some files';
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .cropit-image-input:hover::before {
    border-color: black;
  }
  .cropit-image-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
  .cropit-image-preview {
    background-color: #f8f8f8;
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 7px;
    width: 250px;
    height: 250px;
    cursor: move;
  }
  .cropit-image-background {
    opacity: .2;
    cursor: auto;
  }

  input.cropit-image-zoom-input {
    position: relative;
  }

  #image-cropper {
    overflow: hidden;
  }
}

.profile-info {
  padding: 0;
  margin: 0;
  .profile-image {
    margin-bottom: 1em;
    border-radius: 50%;
    max-width: 180px;
    width: 80%;
  }
  .profile-field {
    border-bottom: 1px solid #d1d3d4;
    padding: 20px 16px;
    position: relative;
    min-height: 43px;
    list-style: none;
    &.last {
      border-bottom-width: 0;
    }
    .txt {
      font-size: 18px;
      line-height: 1.3;
      font-weight: 400;
    }
    .lbl {
      font-size: 14px;
      color: #858585;
    }
  }
}

.screener-tooltip-content {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 2px;
  white-space: nowrap;
}

.socialNetworks {
  border-bottom: 1px solid white;
  margin-bottom: 10px;
  padding-bottom: 10px;
  a {
    display: inline-block;
    i {
      padding: 20px;
      font-size: 40px;
      width: 80px;
      text-align: center;
      display: block;
      margin: 5px;
      margin-top: 10px;
      color: white;
    }
    span {
      display: block;
      text-align: center;
      color: @header-color;
      font-size: 12px;
    }
  }
}

.oAuthToolbar {
  border-top: 1px solid @editor-border-color;
  padding-top: 5px !important;
  margin-top: 5px !important;
  .oAuthButton {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 3px;
    display: block;
    float: right;
    margin: 5px;
    span {
      font-size: 12px;
      span {
        font-size: 11px;
        font-weight: bold;
        display: inline;
        float: none;
      }
      display: block;
      float: right;
    }
    i {
      display: block;
      margin-left: 5px;
      float: right;
      margin-top: 4px;
    }
    &.googleButton {
      background-color: #db4437;
      color: white;
    }
    &.yahooButton {
      background-color: #400191;
      color: white;
    }
  }
}

.lastUpdatedFlag {
  font-size: 10px;
  float: left;
}

.twitsFeedContainer {

  margin-top: 20px;

  .twitsFeedItems {

    border-width: 0;
    clear: both;
    position: relative;

    .mix {
      //background: #fafafa none repeat scroll 0 0;
      border-bottom: 1px dashed #dadada;
      //margin-right: 10px;
      //margin-left: 10px;

      &.noBorder {
        border-width: 0 !important;
      }

      .twitsFeedImageContainer {
        float: right;
        border: 1px solid #f4f4f4;
        background: white;
        padding: 2px;
        margin-left: 8px;
        font-size: 10px;
      }
      .twitsFeedTitleContainer {
        //margin-right:65px;
        //float: right;
        margin-left: 50px;
        .twitsFeedItemTitle {
          display: block;
          margin-left: 10px;
          float: right;
        }
        .twitsFeedItemSource {
          font-size: 12px;
          display: block;
          margin-left: 5px;
          float: right;
          clear: both;
          margin-right: 54px;
          margin-top: -10px;
        }
      }
      .twitsFeedItemDate, .twitsFeedItemClick {
        font-size: 10px;
        color: dimgrey;
        display: block;
        float: left;
      }
    }
  }
}

.newsFeedContainer {

  margin-top: 20px;

  #newsFeedSort {
    display: none;
    margin-bottom: 5px;
    float: left;
    .sort {
      display: inline-block;
      background-color: white;
      padding: 3px 5px;
      margin: 2px;
      cursor: pointer;
      &:hover, &.active {
        background-color: @main-color;
        color: white;
      }
    }
  }

  #newsFeedFilters {
    display: none;
    .filter {
      display: inline-block;
      background-color: white;
      padding: 3px 5px;
      margin: 2px;
      cursor: pointer;
      &:hover, &.active {
        background-color: @main-color;
        color: white;
      }
    }
  }

  .k-tabstrip {
    .newsFeedItems {
      .mix {
        margin-right: 0;
        margin-left: 0;
        opacity: 0;
      }
    }
    .newsFeedImageContainer {
      height: 40px;
    }
  }

  .newsFeedItems {

    border-width: 0;
    clear: both;
    position: relative;

    .mix {
      //background: #fafafa none repeat scroll 0 0;
      border-bottom: 1px dashed #dadada;
      margin-right: 10px;
      margin-left: 10px;

      &.noBorder {
        border-width: 0 !important;
      }

      .newsFeedImageContainer {
        float: right;
        border: 1px solid #f4f4f4;
        background: white;
        padding: 2px;
        margin-left: 8px;
        font-size: 10px;
      }
      .newsFeedTitleContainer {
        //margin-right:65px;
        float: right;
        .newsFeedItemTitle {
          display: block;
          margin-left: 10px;
          float: right;
        }
        .newsFeedItemSource {
          font-size: 12px;
          display: block;
          margin-left: 5px;
          float: right;
          clear: both;
        }
      }
      .newsFeedItemDate, .newsFeedItemClick {
        font-size: 10px;
        color: dimgrey;
        display: block;
        float: left;
      }
    }
  }
}

.analysisFeedContainer {

  margin-top: 20px;

  #analysisFeedSort {
    display: none;
    margin-bottom: 5px;
    float: left;
    .sort {
      display: inline-block;
      background-color: white;
      padding: 3px 5px;
      margin: 2px;
      cursor: pointer;
      &:hover, &.active {
        background-color: @main-color;
        color: white;
      }
    }
  }

  #analysisFeedFilters {
    display: none;
    .filter {
      display: inline-block;
      background-color: white;
      padding: 3px 5px;
      margin: 2px;
      cursor: pointer;
      &:hover, &.active {
        background-color: @main-color;
        color: white;
      }
    }
  }

  .k-tabstrip {
    .analysisFeedItems {
      .mix {
        margin-right: 0;
        margin-left: 0;
        opacity: 0;
      }
    }
    .analysisFeedImageContainer {
      height: 40px;
    }
  }

  .analysisFeedItems {

    border-width: 0;
    clear: both;
    position: relative;

    .mix {
      //background: #fafafa none repeat scroll 0 0;
      border-bottom: 1px dashed #dadada;
      margin-right: 10px;
      margin-left: 10px;

      &.noBorder {
        border-width: 0 !important;
      }

      .analysisFeedImageContainer {
        float: right;
        border: 1px solid #f4f4f4;
        background: white;
        padding: 2px;
        margin-left: 8px;
        font-size: 10px;
      }
      .analysisFeedTitleContainer {
        //margin-right:65px;
        float: right;
        .analysisFeedItemTitle {
          display: block;
          margin-left: 10px;
          float: right;
        }
        .analysisFeedItemSource {
          font-size: 12px;
          display: block;
          margin-left: 5px;
          float: right;
          clear: both;
        }
      }
      .analysisFeedItemDate, .analysisFeedItemClick {
        font-size: 10px;
        color: dimgrey;
        display: block;
        float: left;
      }
    }
  }
}

.announcementFeedContainer {

  .announcementFeedItems {
    //height: auto !important;
    position: relative;
    .mix {
      border-bottom: 1px dashed #dadada;

      &.noBorder {
        border-width: 0 !important;
      }

      .announcementFeedItemTitle {
        display: inline;
        margin-left: 10px;
        //color:black;
      }
      .announcementFeedItemSource {
        font-size: 12px;
        display: inline-block;
        margin-left: 5px;
        color: black;
      }
      .announcementFeedItemDate {
        font-size: 10px;
        color: dimgrey;
        display: inline-block;
      }
    }
  }
}

.marketViewItem {
  line-height: 30px;
}

.ui-datepicker {
  .btn-link {
    background-color: transparent !important;
    &:hover {
      background-color: transparent !important;
      color: @main-color !important;
    }
  }
}

.groupListContainer {
  #groupListView {
    background-color: transparent !important;
    border-width: 0 !important;
    text-align: center;
    .group {
      background-color: white;
      border: 1px solid #dadada !important;
      width: 250px;
      padding: 10px;
      display: inline-block;
      margin: 5px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      &.k-state-selected {
        //border: 3px solid @main-color;
        //padding: 8px;
      }
      .image {
        display: block;
        height: 250px;
        //padding: 5px;
        img {
          height: 250px;
          width: auto;
        }
      }

      .price {
        font-size: 12px;
        color: #a20025;
        //display: inline-block;
        //background-color: white;
        //border:1px solid @main-color;
        //label{
        //  display: inline-block;
        //  background: @main-color;
        //  color:white;
        //  font-weight: normal;
        //  padding:5px;
        //  margin-bottom:0;
        //}
      }

      p {
        color: @summary-color;
      }

      .toolbar {
        margin: 15px -10px -10px;
        a, span {
          padding-top: 5px;
          padding-bottom: 5px;
          display: inline-block;
          width: 135px;
          color: white;
          cursor: pointer;
        }
        a {
          background-color: #3b5998;
        }
        span {
          background-color: #d80073;
        }
      }
    }
  }
}

.followForm {
  padding: 5px;
  .itemInfo {
    display: block;
    .price {
      font-size: 12px;
      color: #a20025;
      background-color: white;
      border: 1px solid @editor-border-color;
      padding-left: 10px;
      display: inline-block;
      margin-top: 4px;
      cursor: pointer;
      width: 140px;

      &.selected {
        border-color: @main-color;

        label {
          background: @main-color;
        }
      }
      label {
        background: @editor-border-color none repeat scroll 0 0;
        color: white;
        display: inline-block;
        font-weight: normal;
        margin-bottom: 0;
        margin-left: 10px;
        padding: 5px 10px;
        cursor: pointer;
      }
    }

    .image {
      float: right;
      //padding:10px;
    }

    .description {
      float: right;
      margin-right: 15px;
      h3 {
        margin-top: 0;
        padding-right: 0;
      }
    }
  }
  .optionsForm {
    border-top: 1px solid @editor-border-color;
    margin-top: 15px;
    .accountBalance {
      float: right;
      margin-top: 0;
      padding: 5px;
      b {
        color: #a20025;
        direction: ltr;
        display: inline-block;
      }
    }

    .toolbar {
      float: left;
      margin: 0;
      padding-top: 10px;
      text-align: left;
    }
  }
}

.hSpacer {
  display: inline-block;
  &.px10 {
    width: 40px;
  }
  &.px20 {
    width: 40px;
  }
  &.px40 {
    width: 40px;
  }
}

.k-window-titlebar {
  height: 26px;
}

.shareGroupList {
  label {
    display: inline-block !important;
    margin-bottom: 10px;
    margin-left: 40px;
  }
}

.groupPriceInfo {
  background: white;
  border: 1px solid #dadada;
  margin-top: 30px;
  h3 {
    margin-top: 5px;
    margin-bottom: 5px !important;
    text-align: center;
    //border-bottom:1px dashed #dadada;
    font-size: 16px;
  }
  div {
    border-top: 1px dashed #dadada;
    span {
      width: 50%;
      display: inline-block;
      color: @error-color;
      label {
        font-weight: normal;
        margin: 5px 10px 5px 0;
        color: black;
        & + span {
          margin-right: 10px;
        }
      }
    }
  }

  & + .toolbar {
    margin-top: 10px;
  }
}

.twitter-user-list {
  margin-top: 5px;
  margin-bottom: 5px;
  clear: both;
  padding-right: 7px;
  padding-left: 7px;

  li {
    list-style: none;
    border-bottom: 1px dashed #dadada;
    padding: 5px;
    &:last-of-type {
      border-bottom-width: 0;
    }
    .image {
      float: right;
      margin-left: 10px;
      padding: 3px;
      border: 1px solid #dadada;
      background: white;
    }
    .description {
      //float: right;
      h4 {
        padding: 0;
        margin: 0;
        padding-top: 15px;
      }
      a {
        display: block;
        margin-top: 10px;
        float: left;
      }
    }
  }
}

.materialList {
  padding: 7px 7px 0;
  margin: 0;
  li {
    list-style: none;
    //margin-bottom: 5px;
    //margin-top: 5px;
    border-bottom: 1px dashed #dadada;
    padding: 5px;
    &:last-of-type {
      border-width: 0;
      margin-bottom: 0;
    }

    .image {
      float: right;
      margin-left: 10px;
      margin-bottom: 5px;
      img {
        border: 1px solid #dadada;
        padding: 2px;
        background: white;
      }

      .rateGage {
        margin-top: 5px;
      }

      .date {
        display: block;
        text-align: right;
        margin-top: 5px;
        color: @summary-color;
        font-size: 10px;
      }
    }

    .description {
      p {
        margin-top: 10px;
        color: @summary-color;
      }
    }
  }

  &.sm {
    li {
      .image {
        padding: 2px;
      }
    }
  }
}

.propertyList {
  padding: 0;
  text-align: left;
  li {
    display: inline-block;
    border-width: 0;
    padding: 0;
    margin: 0 0 0 5px;
    a {
      color: #787878;
      display: inline-block;
      border: 1px solid #dadada !important;
      background: white;
      &:hover {
        i {
          background: @main-color;
        }
        span {
          color: @main-color;
        }
        border-color: @main-color !important;
      }
      i {
        background: #dadada none repeat scroll 0 0;
        color: white;
        display: block;
        float: right;
        padding: 8px 6px 7px 7px;
      }
      span {
        padding: 5px 7px 4px 14px;
        display: block;
        float: right;
      }
    }
  }
}

.dashLet div.mce-panel {
  border-color: #9e9e9e !important;
  .mce-btn-group div {
    border-color: rgba(0, 0, 0, 0.25) !important;
  }
}

.submitComment {
  .toolbar {
    margin: 0;
  }

  .form-field .help {
    display: auto;
    float: none;
    margin-right: 520px;
  }
}

.rateGage {
  background: #f4f4f4;
  div {
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
    padding-top: 2px;
    padding-right: 5px;
    padding-left: 5px;
    min-height: 5px;
  }
}

ul.twitterAuthorInfo {
  padding: 0;
  li {
    border-bottom: 2px solid @main-color;
    list-style: outside none none;
    margin-bottom: 7px;
    background: #ffffff;
    label {
      margin-bottom: 0;
      padding: 6px 10px 4px 4px;
    }
    span {
      background: @main-color;
      color: white;
      display: inline-block;
      float: left;
      font-weight: bold;
      min-width: 50px;
      padding: 7px 10px 4px;
      text-align: center;

    }
  }
}

.propertyInfo {
  line-height: 30px;
  padding-bottom: 0;
  table {
    width: 100%;
    tr {
      border-bottom: 1px dashed #dadada;
      &:last-of-type {
        border-bottom-width: 0;
      }

      td {
        padding-right: 7px;
        padding-left: 7px;
        & + td {
          text-align: left;
          direction: ltr;
        }
      }
    }
  }
}

.btnFollow {
  background: white;
  border: 1px solid #dadada !important;
  color: #787878;
  display: inline-block;
  cursor: pointer;
  i {
    background: #dadada none repeat scroll 0 0;
    color: white;
    display: block;
    float: right;
    padding: 8px 6px 7px 7px;
  }

  span {
    display: block;
    float: right;
    padding: 5px 7px 4px 14px;
  }

  &:hover {
    border-color: @main-color !important;
    color: @main-color;
    i {
      background-color: @main-color;
    }
  }
}

.btnUnfollow {
  background: white;
  border: 1px solid #dadada !important;
  color: #787878;
  display: inline-block;
  cursor: pointer;
  i {
    background: #dadada none repeat scroll 0 0;
    color: white;
    display: block;
    float: right;
    padding: 8px 6px 7px 7px;
  }

  span {
    display: block;
    float: right;
    padding: 5px 7px 4px 14px;
  }

  &:hover {
    border-color: @error-color;
    color: @error-color;
    i {
      background-color: @error-color;
    }
  }
}

.followable {
  text-align: center;

  background: white none repeat scroll 0 0;
  border-bottom: 3px solid #dddddd;
  box-shadow: 2px 2px 2px #aaa;
  padding: 10px 5px 5px;

  .btnFollow {
    span {
      padding-right: 3px;
      padding-left: 3px;
    }
  }

  h4 {
    font-size: 16px;
    a {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }
  }

  .depth {
    color: @summary-color;
    font-size: 12px;
    line-height: 24px;
    height: 24px;
    border-bottom: 1px dashed #dadada;
    //    background-color:#fcfcfc;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 5px;
    margin-left: 5px;
    span {
      display: block;
      float: right;
      & + span {
        float: left;
        font-weight: bold;
      }
    }
  }

  .followersCount {
    color: @summary-color;
    font-size: 12px;
    height: 24px;
    //    background-color:#fcfcfc;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 3px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    span {
      display: block;
      float: right;
      & + span {
        float: left;
        font-weight: bold;
      }
    }
  }
}

.meta {
  font-size: 11px;
  .author {
    margin-top: 10px;
    display: block;
    margin-bottom: 3px;
    a {
      width: 100%;
      display: block;
      text-align: right;
      padding-left: 7px;
      padding-right: 7px;
    }
  }

  .groups {
    margin-bottom: 10px;
    display: block;
    a {
      width: 100%;
      display: block;
      text-align: right;
      padding-left: 7px;
      padding-right: 7px;
      i {
      }
    }
  }

  .fa-lock {
    display: block;
    font-size: 30px;
    color: @error-color;
  }
}

.article {
  .body {
    .groupListContainer {
      //clear: both;
      #groupListView {
        padding: 20px;
        background: #eaeaea;
        text-align: right;
        .group {
          text-align: center;
          width: 272px !important;
          .image {
            margin-left: 0;
            float: none;
            border-width: 0 !important;
            img {
              border-width: 0 !important;
            }
          }
          h3 {
            margin-right: 0;
            margin-left: 0;
            font-size: 16px;
            background: transparent;
          }
        }
      }
    }
  }
}

#symbolSearchResultsTab {
  border: 1px solid #dadada !important;
  box-shadow: 2px 2px 2px #dadada;
  background: white;
  ul {
    //text-align: left;
    display: block;
    border-bottom: 3px solid #dadada;
    background: white;
    li {
      border-width: 0 !important;
      padding-bottom: 1px !important;
      margin-bottom: -3px;
      border-bottom: 3px solid #dadada !important;
      span {
        border-width: 0 !important;
      }
      &.k-state-active, &.k-state-hover {
        border-color: @main-color !important;
        background: white !important;
        a {
          color: #787878 !important;
        }
      }
    }
  }

  .k-content {
    border-width: 0 !important;
    overflow: auto;
    padding: 0;
    padding-top: 5px !important;
    background: white;

    .noSearchResult {
      color: @summary-color;
      font-size: 11px;
      padding-bottom: 15px;
      display: block;
      text-align: center;
      padding-top: 10px;
    }

    ul {
      //text-align: left;
      display: block;
      border-bottom: 3px solid #dadada;
      background: white;
      li {
        border-width: 0 !important;
        padding-bottom: 1px !important;
        margin-bottom: -3px;
        border-bottom: 3px solid #dadada !important;
        padding-right: 13px;
        padding-left: 13px;
        span {
          border-width: 0 !important;
        }
        &.k-state-active, &.k-state-hover, &:hover, &:focus {
          border-color: @main-color !important;
          background: white !important;
          a {
            background: white !important;
            color: #787878 !important;
          }
        }
      }
    }
    .k-content {
      padding: 0.3em 0.92em;
      max-height: 330px;
      padding-top: 10px !important;
    }

    .symbolSearchResult {
      a {
        display: block;

        margin-right: -13px;
        margin-left: -13px;
        padding: 5px 15px;
        color: #787878;

        &:hover {
          background: @main-color;
          color: white;
          span {
            color: white;
          }
        }

        span {
          padding-top: 3px;
          color: @summary-color;
          font-size: 11px;
          float: left;
        }
      }
    }
  }
}

#loginForm + .oAuthToolbar {
  margin-top: 25px !important;
  .oAuthButton {
    padding: 10px 20px;
    margin-right: 0 !important;
    margin-left: 10px !important;
    display: inline-block !important;
    float: none !important;
  }
}

.social-connect {
  .social-image {
    padding-top: 20px;
    float: right;
    text-align: center;
    h3 {

    }
  }
  .profile-info, .connect-guide {
    margin-right: 110px;
  }
}

#tagSearchResults{
  position:absolute;
  width:400px;
  display: none;
  z-index: 1000;
  border: 1px solid #dadada !important;
  box-shadow: 2px 2px 2px #dadada;
  background: white;
  ul {
    //text-align: left;
    display: block;
    border-bottom: 3px solid #dadada;
    background: white;
    padding-bottom:1px !important;
    li {
      border-width: 0 !important;
      padding-bottom: 1px !important;
      margin-bottom: -3px;
      border-bottom: 3px solid #dadada !important;
      span {
        border-width: 0 !important;
      }
      &.k-state-active, &.k-state-hover {
        border-color: @main-color !important;
        background: white !important;
        a {
          color: #787878 !important;
        }
      }
    }
  }

  .k-content {
    border-width: 0 !important;
    overflow: auto;
    padding: 0;
    padding-top: 5px !important;
    background: white;
    max-height: 330px;

    .noSearchResult {
      color: @summary-color;
      font-size: 11px;
      padding-bottom: 15px;
      display: block;
      text-align: center;
      padding-top: 10px;
    }

    .tagSearchResult {
      a {
        display: block;
        padding: 5px 15px;
        color: #787878;

        &:hover, &.k-state-active {
          background: @main-color;
          color: white;
          span {
            color: white;
          }
        }

        span {
          padding-top: 3px;
          color: @summary-color;
          font-size: 11px;
          float: left;
        }
      }
    }
  }
}

.hashTag {
  text-decoration: none;
  color: #d80073;
  cursor: pointer;
}
